@import url('https://fonts.googleapis.com/css2?family=Fira+Code');
@import url('https://fonts.googleapis.com/css2?family=Arvo');
@import url('https://fonts.googleapis.com/css2?family=Raleway');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner');

@tailwind base;
@tailwind components;
@tailwind utilities;

article > div > h1 {
  @apply text-xl font-serif mt-6 mb-3 text-royse-red-light;
}

article p {
  @apply my-4 text-lg;
}

article a {
  @apply text-royse-red-light hover:text-programer-peach transition-colors duration-300 ease-in-out;
}

article p a {
  @apply text-royse-red-light hover:underline hover:text-programer-peach transition-colors duration-300 ease-in-out;
}

article p img {
  @apply w-full h-auto py-2;
}

article ul {
  @apply list-disc list-outside mb-3 ml-10 marker:text-programer-peach text-lg;
}

article ol {
  @apply list-decimal list-outside mb-3 ml-10 marker:text-programer-peach text-lg marker:text-xl;
}

article pre {
  @apply ml-4 mr-6 lg:mr-12 my-4 p-4 overflow-x-auto;
}

article .youtube {
  aspect-ratio: 16 / 9;
  @apply w-full h-auto mb-3;
}
