---
const { imageUrl, altText, link } = Astro.props

const missingImages = [
  '/assets/missing-images/picard-facepalm.jpg',
  '/assets/missing-images/jesus-facepalm.jpg',
  '/assets/missing-images/ernie-facepalm.png',
  '/assets/missing-images/airplane-facepalm.jpg'
]

const randomIndex = Math.floor(Math.random() * missingImages.length)
const randomImage = missingImages[randomIndex]

const actualImageUrl = imageUrl ?? randomImage
const actualAltText =
  altText ?? 'The alt text is missing because Guy was neglegent'
---

<a href={link} class="flex-shrink-0">
  <img
    src={actualImageUrl}
    alt={actualAltText}
    class="rounded-full size-48 object-cover border-4 border-programer-peach hover:border-royse-red transition-colors duration-300 ease-in-out bg-not-white"
  />
</a>
