---
const { clazz } = Astro.props
const flexClass = `${clazz} flex flex-row`
---

<div class={flexClass}>
  <img
    src="/assets/guy-head.png"
    alt="Guy Royse"
    class="mr-2 size-16 hover:animate-spin"
  />
  <h1 class="uppercase py-4 mr-2 bold font-serif">Guy Royse</h1>
</div>
