---

---

<section>
  <img src="/images/guy-royse.jpg" alt="Guy Royse" class="rounded-full size-48" />
  <p>
    Greetings humans. My name is Guy. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac tortor
    convallis, cursus mi et, tempus purus. Quisque vitae erat accumsan arcu tristique finibus eu non sem. Curabitur a
    sapien dictum ligula malesuada condimentum. Aliquam malesuada a dui vitae porttitor. Aliquam pharetra feugiat nisi
    quis varius. Aliquam venenatis tincidunt nisl eget tincidunt. Mauris ut risus lectus.
  </p>
</section>
