---

---

<header class="flex flex-col items-center p-2 py-10 w-full bg-royse-red text-not-white">
  <h1 class="font-sans font-bold text-5xl text-center tracking-widest py-4 uppercase bold">Guy Royse</h1>
  <hr class="border-programer-peach border-2 w-1/4" />
  <h2 class="font-serif text-xl text-center tracking-widest py-4">Work. Life. Code. Game. Lather. Rinse. Repeat.</h2>
</header>
