---
import '../styles/base.css'

import Header from '../components/layout/header.astro'
import Main from '../components/layout/main.astro'
import Footer from '../components/layout/footer.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="alternate"
      type="application/rss+xml"
      title="The Guy Wire"
      href={new URL('feed.xml', Astro.site)}
    />

    <title>guy.dev | {title}</title>
  </head>

  <body
    class="flex flex-col items-center max-w-full bg-dorkness-rising text-not-white overflow-y-scroll"
  >
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
