---
import '../styles/base.css'

import SiteNavigation from '../components/base/site-navigation.astro'
import Header from '../components/base/header.astro'
import Main from '../components/base/main.astro'
import Footer from '../components/base/footer.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>guy.dev | {title}</title>
  </head>

  <body
    class="flex flex-col items-center container max-w-full mx-auto bg-dorkness-rising text-not-white"
  >
    <SiteNavigation />
    <Header />
    <Main>
      <slot />
    </Main>
    <Footer />
  </body>
</html>
