---
import '../styles/base.css'

import Navigation from '../components/navigation.astro'
import Header from '../components/header.astro'
import Footer from '../components/footer.astro'

const { title } = Astro.props
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />

    <title>guy.dev | {title}</title>
  </head>

  <body
    class="flex flex-col items-center container max-w-full mx-auto bg-dorkness-rising text-not-white"
  >
    <Navigation />

    <Header />

    <main>
      <slot />
    </main>

    <Footer />
  </body>
</html>
